/*
 * Loginbutton css File
*/

.Loginbutton {
    /* propertys here */
}

.g-login {
<<<<<<< HEAD
    color: #333253;
=======
    color: #27c5b5;
>>>>>>> d0498e9b9de5017fb1a400843c16a878a682ce33
    font-size: 20px;
    padding: 25px;
}