/*
 * Navbar css File
*/

.Navbar {
    /* propertys here */
}

.g-nav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.g-nav {
    margin-right: 25px;
}

.g-nav-logo img {
    height: 90px;
}

.g-nav-item {
    color: #27c5b5;
    font-size: 20px;
    padding: 25px;
}