/*
 * Navbar css File
*/

.Navbar {
    /* propertys here */
}

.g-nav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.g-nav {
    margin-right: 25px;
}

.g-nav-logo img {
    height: 90px;
}

.g-nav-item {
<<<<<<< HEAD
    color: #333253;
=======
    color: #27c5b5;
>>>>>>> d0498e9b9de5017fb1a400843c16a878a682ce33
    font-size: 20px;
    padding: 25px;
}